In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Reading csv file to dataframe

In [20]:
airq_df = pd.read_csv('city_day.csv')
airq_df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [21]:
airq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

Coverting 'Date' columns to Date Format

In [22]:
airq_df['Date'] = pd.to_datetime(airq_df['Date'])

Extracting columns Year, Month, Day, Weekday from column 'Date' & insertion

In [23]:
airq_df.insert(loc = 2, column = 'Year', value = pd.DatetimeIndex(airq_df.Date).year)
airq_df.insert(loc = 3, column = 'Month', value = pd.DatetimeIndex(airq_df.Date).month)
airq_df.insert(loc = 4, column = 'Day', value = pd.DatetimeIndex(airq_df.Date).day)
airq_df.insert(loc = 5, column = 'Weekday', value = pd.DatetimeIndex(airq_df.Date).weekday)

Creating dataframe for 'Delhi Analysis'

In [ ]:
delhi_df = airq_df[airq_df.City == 'Delhi']
delhi_df.info()

Monthly AQI & Pollutants Analysis

In [ ]:
delhi_df.groupby('Month')['AQI'].mean()

In [ ]:
import calendar as cld
month_name = []
for month in delhi_df.Month.unique():
    month_name.append(cld.month_abbr[month])
    

plt.rcParams['figure.figsize'] = (12,7)
sns.set_style('whitegrid')
columns1 = ['PM2.5','PM10','AQI']
for column in columns1:
        plt.plot( month_name,delhi_df.groupby('Month')[column].mean(), marker = 'o', label = column)
plt.legend()
plt.xlabel('Month')
plt.ylabel('Mean AQI')
sns.set_style('whitegrid')

Monthly Pollutants Analysis

In [ ]:
#from labellines import labelLines
#import matplotx
columns2 = ['NO','NO2','NOx','NH3','SO2','O3','Toluene','Xylene', 'CO','Benzene']
plt.rcParams['figure.figsize'] = (12,7)
for column in columns2:
    if(column in ['CO','Benzene','Xylene']):
        plt.plot( month_name,delhi_df.groupby('Month')[column].mean(), marker = 'X', label = column, ls = '--')
    else:
        plt.plot( month_name,delhi_df.groupby('Month')[column].mean(), marker = 'o', label = column)
plt.legend()
plt.xlabel('Month')
plt.ylabel('Mean AQI')
#labelLines(plt.gca().get_lines(), zorder=2.5)
#matplotx.line_labels()

Month Analysis Per Year

In [ ]:
delhi_df.groupby(['Month','Year'])['AQI'].mean().unstack().plot(
    xlabel = 'Month', ylabel = 'Mean AQI', figsize = (16, 10), marker = 'X');

Analysis - PM2.5 & PM10 relationship with AQI

In [ ]:
for column in ['PM2.5','PM10']:
     sns.regplot(x=delhi_df.groupby('Month')['AQI'].mean(), y = delhi_df.groupby(['Month'])[column].mean(), label = column, scatter=True)
        #sns.scatterplot(x=delhi_df.groupby(['Month'])['AQI'].mean(), y = delhi_df.groupby(['Month'])[column].mean(), s=100, label = column)
plt.ylabel('Particulate Matter')
plt.legend();

Analysis - Other Pollutants relationship with AQI

In [ ]:
for column in columns2:
    #sns.scatterplot(x=delhi_df.groupby(['Month'])['AQI'].mean(), y = delhi_df.groupby(['Month'])[column].mean(), s=100, label = column)
    sns.regplot(x=delhi_df.groupby('Month')['AQI'].mean(), y = delhi_df.groupby(['Month'])[column].mean(), label = column, scatter=False)
plt.ylabel('Pollutants')
plt.legend();

Persistent AQI scores

In [ ]:
plt.hist(delhi_df.AQI);

Daywise AQI Analysis

In [ ]:
g = sns.barplot(x = 'Weekday' , y = 'AQI', data = delhi_df, color = 'blue');
sns.lineplot(x = 'Weekday', y = 'AQI', data = delhi_df, color = 'red');
plt.ylabel('Mean AQI');
plt.xlabel('Day of Week');
g.set_xticklabels(list(cld.day_name));